# Run the Holdfast GM liveness check every 2 minutes.
[Unit]
Description=Run the Holdfast GM liveness check every 2 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=20s

[Install]
WantedBy=timers.target
